@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo, @Model.Nome!</h1>
    <p><a href="https://www.corneliodigital.com"><img src="http://www.corneliodigital.com/imagens/logocd2.jpg" /></p>
    <p><a href="https://www.corneliodigital.com">Cornélio Digital.com</a>.</p>
    <span>Seu e-mail é @Model.Email!
    </span>
    
    <h3>O Portal da Família</h3>
</div>
